[alias]
	o = "!f() { hub browse -- commit/$1; }; f"
	lg = "log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(green)%d%C(reset)' --graph"
	fuckit = !git reset --hard HEAD && git clean -df
	redo = commit --amend -C HEAD
        f = "!sh -c \"git log -g --grep=$1\" -"

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
excludesfile = /opt/boxen/config/git/gitignore
	editor = vim
[user]
	name = Joshua Simmons
	email = joshua@castironcoding.com

[push]
  default = simple

[color]
  branch = auto
  status = auto
  interactive = auto
  diff = auto
  ui = auto

[alias]
  lg = "log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(green)%d%C(reset)' --graph"
